.active{
    display: block;
}
.close{
    width: 30px;
    height: 30px;
    background-color: rgb(153, 103, 10);
    color: black;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: 300ms;
}
.close:hover{
    background-color: rgb(90, 60, 4);

}
.input{
    display: block;
    width: 700px;
    height: 40px;
    border-radius: 5px;
    background-color: whitesmoke;
    position: absolute;
    top: 150px;
    right: 30%;

}
.p{
    font-size: 10px;
    color: whitesmoke;
    position: absolute;
    top: 200px;
    right: 30%;
    font-family: iran;
}

.textp{
    color: whitesmoke;
    font-size: 12px;
    position: absolute;
    top: 230px;
    right: 30%;
    font-family: iran;
}
.input:focus{
    padding-right: 20px;
}
